<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Mohamad Fadavi" />

   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/css/syntax.css" type="text/css" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
</head>
<body>

<div class="site">
  <div class="title">
    <a href="/">Mohamad Fadavi</a>
    <a class="extra" href="/">home</a>
  </div>

  {{ content }}

  <div class="footer">
    <div class="contact">
      <p>
        Mohamad Fadavi
        <br />
        DVM & Developer
        <br />
        fadavimohamad[at]gmail[dot]com
      </p>
    </div>
    <div class="contact">
      <p>
        <a href="https://github.com/fadavi/">github:fadavi</a><br />
        <a href="https://gitlab.com/mfadavi/">gitlab:mfadavi</a><br />
        <a href="https://twitter.com/fadavifadavi/">twitter:mofadavi</a><br />
        <a href="https://linkedin.com/in/fdvi">linkedin:fdvi</a><br />
        <a href="https://t.me/fadavi">telegram:fadavi</a><br />
      </p>
    </div>
    <div class="rss">
      <a href="">
        <img src="/images/rss.png" alt="Subscribe to RSS Feed" />
      </a>
    </div>
  </div>
</div>
</body>
</html>
